<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    
    <body>
        <!-- button to the creators page-->
        <button class="creators-button">Creators</button>

        <!-- name of the website-->
        <div class="header">
            <h1 class="header-text">WHERE TO NEXT?</h1>
        </div>
        <!-- button to the questionnaire-->
        <button class="start-button">Start</button>
    </body>

</html>
